{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Birds</h2>
    <div class="row">

        {% for product in products %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{product.name}}</h5>
                <div class="card-body">
                    <h6 class="card-title">
                        {% if product.qty > 0 %}
                    In Stock
                {% else %}
                    Out Of Stock
                {% endif %}
                    </h6>
                    <img src="{{product.img}}" alt="{{product.name}}">
                    <p class="card-text">
                        ${{product.price}} {{product.description}}
                    </p>
                    
                <div class="btn-group">
                    <a href="/products/{{product._id}}" class="btn btn-info">View</a>
                    {% if product.qty > 0 %}
                    <form action="/products/{{product._id}}/buy?_method=PUT" method="POST">
                        <input type="submit" value="Buy" class="btn btn-success">
                    </form>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}